<ol type="A">
  <% question.multiple_choice_options.each do |multiple_choice_option| %>
    <li class="<%= 'text-success' if multiple_choice_option.correct %>">
      <%= simple_format(h(multiple_choice_option.content)) %>
      <div>
        <% if multiple_choice_option.image? %>
          <%= link_to image_tag(multiple_choice_option.image_url(:thumb)), multiple_choice_option.image_url%>
        <% end -%>
      </div>
    </li>
  <% end -%>
</ol>
