<ul class="selectable-question-list">
  <% question_line_items.each_with_index do |question_line_item, item_index| %>
    <li>
      <%= render '/admin/questions/item', { item_index: item_index, unit: unit, question_group: question_group, question_line_item: question_line_item, question: question_line_item.question, actions: { remove_from_unit: true } } %>
    </li>
  <% end -%>
</ul>
