<% content_for :title_bar do %>
  <h1><%= t("creating", scope: "crud", model: QuestionGroup.model_name.human) %></h1>
  <div class="toolbar">
    <%= link_to t("back", scope: "crud"), admin_unit_path(@unit), class: 'btn' %>
  </div>
<% end %>

<%= render 'form' %>
