
<h1>客户隐私政策</h1>

<p>我们非常重视保护你的个人隐私。我们遵守美国儿童在线隐私保护法案，并按照这个隐私申明来保护你的个人信息。随着我们软件的不断升级和更新，我们也将不断更新相关的隐私申明，请时不时的回来访问我们这个申明以确保我们的隐私申明符合你的要求。我们有可能收集如下信息：
</p>
<ol>
  <li>
  用户下载和使用App的时间和网络地址
  </li>
  <li>
  孩子用户的学校信息，做题成绩，完成时间和课程进程，主要是为了更好的指导孩子学习
  </li>
  <li>
  家长用户的名称和通讯方式（包括email，电话），主要为了和家长更好地分享孩子学习过程
  </li>
</ol>
<p>
我们有可能将孩子考试相关的数据按照匿名的方式和其他第三方分享， 
<br/>
我们不会将孩子和家长单独的个人信息在征得你的同意之前和任何第三方共享。
</p>

<%= image_tag 'privacy.jpg'%>
<hr/>

<h1>Client privacy policy</h1>
<p>
We are committed to protecting your privacy. We comply with the U.S. Children's Online Privacy Protection Act, and protect your personal information in accordance with this Privacy Policy. We will update the relevant privacy statement from time to time, so please visit this page from time to time to ensure that our privacy statement meets your requirements. We may collect the following information:
</p>
<ol>
<li> The time and network address used to download and use this App </li>
<li> Children’s school information, test scores, completion time and curriculum processes, mainly in order to better guide children to learn</li>
<li> Parents’ name and contact information (including email and telephone), mainly to share children’s learning progress with parents</li>
</ol>
<p>
We may share the test results with other third parties on anonymous basis but will not share any personal information related to users and parents before obtaining your consent.
</p>