<%= javascript_include_tag "asciimathml" %>
<%= javascript_tag do %>
translateOnLoad=false;

function simpleFormat(str) {
  str = str.replace(/\r\n?/, "\n");
  str = $.trim(str);
  if (str.length > 0) {
    str = str.replace(/\n\n+/g, '</p><p>');
    str = str.replace(/\n/g, '<br />');
    str = '<p>' + str + '</p>';
  }
  return str;
}

function updateQuestionPreview(input) {
  var targetNode = $('#' + input.data("preview"));
  if (input.val().length > 0) {
    targetNode.html(simpleFormat(input.val()));
    AMprocessNode(targetNode[0]);
  } else {
    targetNode.html(simpleFormat("<%= t('asciimath_preview') %>"));
  }
}

$('textarea.can_preview').each(function(index) {
  updateQuestionPreview($(this));
});

$('body').on('change', 'textarea.can_preview', function() {
  updateQuestionPreview($(this));
});
<% end -%>
