<% content_for :title_bar do %>
  <h1><%= t("editing", scope: "crud", model: Stage.model_name.human) %></h1>
  <div class="toolbar">
    <%= link_to t("back", scope: "crud"), admin_stages_path, class: 'btn' %>
  </div>
<% end %>

<%= render 'form' %>
