<%= render 'title_bar', {unit: @unit}%>
<%= @unit.description %>

<ul class="selectable-question-list">
  <% @unit.question_line_items.each do |question_line_item| %>
    <li>
      <%= render '/questions/item', {  question: question_line_item.question, question_line_item: question_line_item} %>
    </li>
  <% end -%>
</ul>