<p>Welcome <%= @email %>!
<br/>
  欢迎注册天才训练营</p>

<p>You can confirm your account email through the link below:
<br/>
请点击下面的链接，认证你的个人账号
</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
